thunderdome==0.4.3
Flask==0.9
uwsgi==1.4.9
ipython
ipdb
prettytable
cython==0.18
https://github.com/SiteSupport/gevent/archive/1.0rc2.zip
statsd==1.0.0
thunderdome-logging==1.0
nose
GitPython==0.3.2.RC1
celery==3.0.16
supervisor==3.0b1
hiredis==0.1.1
redis==2.7.2
Flask-Classy==0.5.2



